*{
    padding: 0;
    margin: 0;
}
.btn{
    min-width: 70px;
    height: 50px;
    padding: 5px 20px;
    margin: 20px 10px;
    background-color: bisque;
    border-radius: 10px;
    text-decoration: none;

}
.navbar{
    height: 100px;
    background-color: rgb(192, 141, 240);
    display: flex;
    align-items: center;
}